
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Arya:wght@400;700&family=Caveat+Brush&family=Martel:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@500&family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Yatra+One&display=swap');
.font-marathi {
 font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}